<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.online_xdclass.mapper.EpisodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="net.xdclass.online_xdclass.model.Episode">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="num" property="num" />
        <result column="ordered" property="ordered" />
        <result column="play_url" property="playUrl" />
        <result column="chapter_id" property="chapterId" />
        <result column="free" property="free" />
        <result column="video_id" property="videoId" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, num, ordered, play_url, chapter_id, free, video_id, create_time
    </sql>

</mapper>
