<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xdclass.online_xdclass.mapper.UserMapper">

  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="net.xdclass.online_xdclass.model.User">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="pwd" property="pwd"/>
    <result column="head_img" property="headImg"/>
    <result column="phone" property="phone"/>
    <result column="create_time" property="createTime"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id
    , name, pwd, head_img, phone, create_time
  </sql>

  <select id="findByPhone" resultType="map">
    select id,
           name,
           pwd,
           head_img,
           phone,
           create_time
    from user
    where phone = #{phone};
  </select>

  <insert id="save" parameterType="user">
    insert into user(name,
                     pwd,
                     head_img,
                     phone,
                     create_time)
    values (#{name}, #{pwd}, #{headImg}, #{phone}, #{createTime})
  </insert>

  <select id="findByPhoneAndPwd" resultType="user">
    select id,
           name,
           pwd,
           head_img,
           phone,
           create_time
    from user
    where phone = #{phone}
      and pwd = #{pwd};
  </select>

  <select id="findByUserId" resultType="user">
    select id,
           name,
           pwd,
           head_img,
           phone,
           create_time
    from user
    where id = #{userId};
  </select>

</mapper>
